@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor;

<h1>Alteração de Produto</h1>
<h1>Conteudo da Sessao:@httpContextAccessor.HttpContext.Session.GetString("usuario")</h1>
<form method="post" action="\produto\gravar">
    <input type="hidden" name="produto.Id" value="@ViewBag.produto.Id" />
    <label for="descricao">Descrição</label>
    <input type="text" name="produto.Descricao" id="descricao" value="@ViewBag.produto.Descricao" />
    <br />
    <label for="quantidadeestoque">Quantidade Estoque</label>
    <input type="text" name="produto.QuantidadeEstoque" id="quantidadeestoque" value="@ViewBag.produto.QuantidadeEstoque" />
     <br />
    <label for="preco">Preço</label>
    <input type="text" name="produto.Preco" id="preco" value="@ViewBag.produto.Preco" />
     <br />
    <label for="unidademedida">Unidade Medida</label>
    <input type="text" name="produto.UnidadeMedida" id="unidademedida" value="@ViewBag.produto.UnidadeMedida" />
     <br />
    <label for="categoriaid">Categoria</label>
    <select id="categoriaid" name="produto.CategoriaId">
        @{
            foreach (var categoria in ViewBag.categorias)
            {
                        <option  value="@categoria.Id">@categoria.Descricao</option>
            }
        }
    </select>
    <br />
    <input type="submit" value="Alterar Produto" />
</form>
